version: '3'
services:
  clone-hero-server:
    build: .
    ports:
      - "14242:14242/udp"
    environment:
      SERVER_NAME: ${SERVER_NAME:-clone-hero-server-docker}
      SERVER_PASSWORD: ${SERVER_PASSWORD:-password}
      CONNECT_IP: ${CONNECT_IP:-0.0.0.0}
      CONNECT_PORT: ${CONNECT_PORT:-14242}
    container_name: clone-hero-server
    restart: unless-stopped
